.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px; // Adjust as needed
  height: 40px;
  border-radius: 8px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.2s ease;

 color:#fff;

  svg {
    width: 44px;
    height: 44px;
    fill: white; // Adjust based on your design
  }
}
